* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Work Sans', sans-serif; */

#navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}

div#logo {
  width: 100px;
}

div img {
  width: 100%;
  height: auto;
}

#nav-links {
  display: flex;
}

.nav-links a {
  margin: 0 5px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
